* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    font-family: 'Roboto Slab', sans-serif;
}

/* ----------- Navbar ----------- */

.navbar {
    display: flex;
    text-align: center;
    padding: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 25px;
}

nav ul li {
    font-size: 20px;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
}


/* ----------- Profile ----------- */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover,
a:hover {
    opacity: 0.7;
}


/* ---------- Buttons ----------*/

#Orders {
    background-color: wheat;
    color: #000;
    margin: 25px 0px 10px 0px;
    border-radius: 5px;
}

#Logout {
    background-color: black;
    color: aliceblue;   
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
}

/* ----------- Footer ----------- */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    border-top: solid antiquewhite 1px;
}

footer ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 25px;
    margin-bottom: 25px;

}

footer ul li {
    color: antiquewhite;
    font-size: 14px;
    justify-content: center;
    align-content: center;
    display: inline-block;
    margin-right: 30px;
}

footer ul li a {
    text-decoration: none;
    color: antiquewhite;
}